body {
	background-image:url('bg.jpg');
	background-repeat:repeat;
}
#current, .table .row div {
	font-family: Arial;
	color: rgba(255,255,255,.9);
	text-shadow: 1px 2px 4px #000000;
	filter: dropshadow(color=#000000, offx=2, offy=4);
}
#current {
	position: fixed;
	left: 0;
	top: 0;

	padding: 20px 30px;

	font-size: 75px;
}

button {
	position: fixed;
	left: 0;
	bottom: 0;

	margin: 20px 30px;
}

.table, .table .row div {
	border: 2px solid rgba(255,255,255,.55);
}
.table {
	position: relative;
	margin: 180px auto;

	display: table;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .7);
	-moz-box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .7);
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, .7);
}
.table .row {
	display: table-row;
}
.table .row div {
	width: 70px;
	height: 70px;
	
	vertical-align: middle;
	text-align: center;
	font-size: 40px;

	background: rgba(0,0,0,.23);

	cursor: pointer;
	display: table-cell;

	-webkit-transition: background .1s linear;
	-moz-transition: background .1s linear;
	-o-transition: background .1s linear;
	transition: background .1s linear;
}
.table .row div:hover {
	background: rgba(0,0,0,0);
}